@media screen and (max-width: 1024px) {
    body {
        font-size: 40px;
    }
    .jumbotron h1 {
        font-size: 4rem;
    }
    ul button {
        font-size: 2rem !important;
        padding: 1.5rem 1rem !important;
    }
    #userSearches input, #userSearches button {
        height: 5rem;
    }
    input {
        font-size: 2rem !important;
    }
    .search-btn {
        min-width: 5rem;
        margin-left: -5rem;
    }
    .navbar img {
        width: 10rem;
    }
    .navbar-toggler-icon {
        width: 2em;
        height: 2em;
    }
    i {
        font-size: 3rem;
    }
    #weather-display {
        margin-bottom: 10rem;
    }
    #weather-display h2 {
        font-size: 4rem;
    }
    #weather-display h5 {
        font-size: 3rem;
    }
}